.achievements {
	.row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: vc(20);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	.cta {
		@include desktop {
			grid-column: 2 / 4;
		}
	}
}
