.advantage {
	position: relative;
	overflow: hidden;
	border-radius: vc(10);
	padding: vc(60) vc(40);
	height: vc(470);
	color: $color-white;

	&__section {
		.row {
			display: grid;
			grid-template-columns: 1.2fr 0.8fr;
			gap: vc(26);

			@include devices {
				grid-template-columns: 100%;
			}
		}
	}

	&__overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		inset: 0;
	}

	&__bg {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		inset: 0;

		picture,
		img {
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		z-index: 1;

		@include devices {
			z-index: 0;
		}
	}

	&__info {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: vc(416);
	}

	&__title {
		margin-bottom: vc(20);
		font-weight: 700;
		font-size: vc(30);

		@include devices {
			font-size: vc(20);
		}
	}

	&__description {
		font-weight: 400;
		font-size: vc(20);
		line-height: vc(24);

		@include devices {
			font-size: vc(16);
			line-height: vc(18);
		}
	}

	&__button {
		display: flex;
		margin-top: auto;

		@include devices {
			margin-top: vc(20);
		}
	}

	&--1 {
		.advantage__overlay {
			background: rgba($color-black, 0.7);
		}

		.advantage__img {
			right: vc(-30);
			bottom: vc(-20);
			width: vc(565);
			transform: rotate(-2deg);
		}
	}

	&--2 {
		.advantage__overlay {
			width: 80%;
			height: 100%;
			background: radial-gradient(circle, rgba($color-tree-poppy-300, 0.8) 0%, rgba(162, 71, 0, 1) 100%);

			@include devices {
				width: 100%;
			}
		}

		.advantage__img {
			right: vc(-20);
			bottom: vc(40);
			width: vc(300);
		}
	}

	@include devices {
		height: auto;
	}
}
