.article {
	&__section {
		margin: vc(60) 0  vc(80);

		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: vc(40);

			@include devices {
				grid-template-columns: 100%;
				gap: vc(20);
			}
		}
	}

	&__img {
		overflow: hidden;
		margin-bottom: vc(14);
		border-radius: vc(10);
		height: vc(240);
		box-shadow: $box-shadow;

		picture,
		img {
			height: 100%;
		}

		@include devices {
			height: vc(200);
		}
	}

	&__title {
		margin-bottom: vc(10);
		font-weight: 500;
		font-size: vc(22);

		@include devices {
			font-size: vc(18);
		}
	}

	&__date {
		margin-bottom: vc(14);
		font-weight: 400;
		font-size: vc(16);
		color: $color-woodsmoke-400;

		@include devices {
			margin-bottom: vc(10);
			font-size: vc(14);
		}
	}

	&__description {
		margin-bottom: vc(10);
		font-size: vc(16);
		line-height: 1;

		@include devices {
			font-size: vc(14);
		}
	}

	&__link {
		font-weight: 400;
		font-size: vc(16);
		line-height: 1.4;
		text-decoration-line: underline;
		color: $color-tree-poppy-400;

		@include devices {
			font-size: vc(14);
		}
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: vc(60);
		width: 100%;
	}
}
