.category {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	border-radius: vc(5);
	min-height: vc(340);
	transition: opacity $transition;

	&__section {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: vc(14);

			@include devices {
				grid-template-columns: 100%;
			}
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 50%;
			background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
		}

		picture,
		img {
			height: 100%;
		}
	}

	&__info {
		position: relative;
		z-index: 2;
		padding: vc(25) vc(20);
	}

	&__title {
		margin-bottom: vc(10);
		font-weight: 600;
		font-size: vc(20);
		color: $color-white;
	}

	&__button {
		display: flex;
		font-weight: 400;
		font-size: vc(16);
		color: $color-white;
		gap: vc(10);

		svg {
			border-radius: 100%;
			padding: vc(4);
			width: vc(22);
			height: vc(22);
			fill: $color-white;
			background: $color-tree-poppy-400;
		}
	}

	@include hover {
		opacity: 0.8;
	}
}
