.form {
	&__input,
	&__textarea {
		position: relative;
		display: block;
		border: 1px solid $color-woodsmoke-200;
		border-radius: vc(5);
		padding: vc(15) vc(20);
		width: 100%;

		input,
		textarea {
			width: 100%;
			font-size: vc(16);
			color: $color-woodsmoke-800;
			resize: none;

			&::placeholder {
				color: transparent;
			}

			&::-webkit-calendar-picker-indicator {
				display: none !important;
			}

			&:focus {
				outline: none;
			}

			&:focus ~ span,
			&:not(:placeholder-shown) ~ span {
				translate: 0 vc(-25);
			}
		}

		span {
			position: absolute;
			left: vc(15);
			top: vc(15);
			display: inline-block;
			padding: 0 vc(5);
			font-size: vc(16);
			background: $color-white;
			transition: translate $transition;
			cursor: text;
		}
	}

	&__select {
		position: relative;
		display: block;
		flex-shrink: 0;

		select {
			appearance: none;
			position: relative;
			border: 1px solid $color-woodsmoke-200;
			border-radius: vc(5);
			padding: vc(15) vc(20);
			width: 100%;
			font-size: vc(16);
			color: $color-woodsmoke-800;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M239 401c9.4 9.4 24.6 9.4 33.9 0L465 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L81 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L239 401z'/%3E%3C/svg%3E");
			background-position: right vc(15) bottom 50%;
			background-size: vc(15) vc(15);
			background-repeat: no-repeat;
		}

		span {
			position: absolute;
			left: vc(15);
			top: vc(15);
			display: inline-block;
			padding: 0 vc(5);
			font-size: vc(16);
			background: $color-white;
			transition: translate $transition;
			cursor: text;
			translate: 0 vc(-25);
		}
	}
}
