.query {
    flex-direction: column;
    border-radius: vc(10);
    margin-bottom: vc(40);
    width: 100%;
    box-shadow: $box-shadow;
    background: $color-white;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $color-woodsmoke-100;
        padding: vc(25) vc(30);
        font-weight: 600;
        font-size: vc(24);

        @include devices {
            flex-direction: column;
            gap: vc(30);
        }
    }

    &__form {
        padding: vc(25) vc(30);
        position: relative;
        display: grid;
        grid-template-columns: 0.8fr 1.4fr 0.8fr 0.1fr;
        gap: vc(35);

        @include devices {
            grid-template-columns: 1fr;
            border-bottom: 1px solid $color-woodsmoke-300;
            gap: vc(15);
        }
    }

    &__buttons {
        display: flex;
        gap: vc(18);

        @include devices {
            flex-direction: column;
        }
    }
}
