.slider {
	position: relative;
	width: 100%;

	&__content {
		width: 100%;
		height: 100%;
		background: #5d5d5d;
	}

	&--main {
		.swiper-slide {
			padding-right: vc(30);
			width: vc(1160);
			height: vc(400);
			opacity: 0.6;
			transition: opacity $transition;

			&-active {
				opacity: 1;
			}

			.slider__content {
				position: relative;
				overflow: hidden;
				border-radius: vc(10);
			}

			@include devices {
				padding-right: 0;
				width: 100%;
				height: vc(334);
			}
		}

		@include devices {
			padding: 0 vc(15);
		}
	}
}
