.videoGallery {
    &__slider {
        margin-right: vc(-40) !important;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: vc(40);
        gap: vc(15);
    }
}
