.battery {
	&__hero {
		picture {
			overflow: hidden;
			border-radius: vc(10);
			height: vc(490);

			img {
				height: 100%;
			}

			@include devices {
				height: auto;
			}
		}
	}

	&__category {
		.row {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: vc(14);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		.category {
			height: vc(280);

			@include devices {
				height: vc(140);
			}
		}
	}

	&__type {
		h1 {
			text-align: center;

			@include devices {
				text-align: left;
			}
		}

		&-intro {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: vc(20) 0 vc(40);
			gap: vc(40);

			p {
				margin-bottom: vc(26);
				font-weight: 300;
				font-style: normal;
				font-size: vc(22);
				line-height: vc(26);

				&:last-of-type {
					margin-bottom: 0;
				}

				@include devices {
					margin-bottom: vc(14);
					font-size: vc(14);
					line-height: vc(14);
				}
			}

			@include devices {
				grid-template-columns: repeat(1, 1fr);
				margin: vc(10) 0 vc(0);
				gap: vc(10);
			}
		}

		.row {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: vc(80);
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: vc(14);

			picture {
				height: vc(200);

				img {
					height: 100%;
					object-fit: contain;
				}
			}

			p {
				font-weight: 500;
				font-size: vc(26);
				text-align: center;
			}
		}
	}

	&__which {
		picture {
			margin: vc(50) auto 0;
			width: vc(1496);

			@include devices {
				display: none;
			}
		}
	}

	&__slider {
		picture {
			overflow: hidden;
			border-radius: vc(10);
			height: vc(700);

			img {
				height: 100%;
			}

			@include devices {
				height: vc(200);
			}
		}
	}
}
