.dealer {
	&__lead {
		overflow: hidden;
		border-radius: vc(10);
		width: 100%;
		height: vc(490);

		picture,
		img {
			height: 100%;
		}
	}

	&__head {
		.row {
			display: grid;
			align-items: flex-end;
			grid-template-columns: repeat(2, 1fr);
			gap: vc(40);

			@include devices {
				grid-template-columns: 100%;
				gap: vc(20);
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: vc(10);
		}

		iframe {
			border-radius: vc(10);
			width: 100%;
			height: vc(456);

			@include devices {
				height: vc(172);
			}
		}
	}

	&__preference {
		.row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: vc(30);
			gap: vc(40);

			@include devices {
				grid-template-columns: 100%;
				gap: vc(20);
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: vc(30);

			@include devices {
				gap: vc(10);
			}
		}
	}

	&__qa {
		article {
			border-radius: vc(10);
			padding: vc(54) vc(100);
			color: $color-white;
			background: $color-tree-poppy-400;

			@include devices {
				padding: vc(10);
			}
		}
	}

	&__who {
		.row {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: vc(20);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		&-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			picture {
				margin: vc(10) 0 vc(15);
				width: vc(965);
			}

			@include devices {
				margin-bottom: vc(10);
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: vc(10);
			padding: vc(20);
			box-shadow: $box-shadow;
			gap: vc(30);

			svg {
				width: vc(100);
				height: vc(100);
				fill: $color-tree-poppy-400;

				@include devices {
					width: vc(60);
					height: vc(60);
				}
			}

			span {
				text-align: center;
			}

			@include devices {
				gap: vc(12);
			}
		}
	}

	&__agent {
		.row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: vc(40);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		article {
		}

		picture {
			overflow: hidden;
			border-radius: vc(10);
			height: vc(236);

			img {
				height: 100%;
			}
		}
	}

	&__what,
	&__steps {
		.row {
			display: flex;
		}

		.swiper {
			margin: 0 vc(-15);
			padding: vc(15);
			width: calc(100% + #{vc(30)});

			&-slide {
				padding-right: vc(20);
				width: vc(318);

				@include devices {
					width: vc(200);
				}
			}
		}
	}
}
