.deliverypayment {
	&__head {
		display: grid;
		justify-content: space-between;
		grid-template-columns: vc(620) vc(720);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	blockquote {
		gap: vc(15);
	}

	&__logo {
		width: vc(720);
		height: vc(210);

		svg {
			fill: $color-black;
		}

		@include devices {
			display: none;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: vc(10);

		.h1 {
			margin-bottom: vc(30);
		}

		p + h3,
		p + h2 {
			margin-top: vc(20);
		}
	}

	&__footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: vc(30);
		gap: vc(80);

		h2 {
			margin-bottom: vc(30);
		}

		ul {
			display: flex;
			flex-direction: column;
			margin-left: vc(20);
			gap: vc(15);

			li {
				display: list-item;
				list-style: disc;
				font-size: vc(22);
				line-height: vc(26);

				&::marker {
					color: $color-tree-poppy-400;
				}

				@include devices {
					font-size: vc(14);
					line-height: vc(14);
				}
			}
		}

		@include devices {
			grid-template-columns: 100%;
			margin-top: vc(20);
			gap: vc(20);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		small {
			font-size: vc(14);
			line-height: 1;

			b {
				font-weight: 600;
				color: $color-tree-poppy-400;
			}

			@include devices {
				font-size: vc(10);
			}
		}

		picture {
			order: 2;
			margin-top: vc(10);
		}
	}

	&__important {
		margin: vc(30) 0 vc(10);
		border-radius: vc(10);
		padding: vc(20);
		background: $color-tree-poppy-400;

		p {
			font-weight: 400;
			color: $color-white;
		}

		@include devices {
			margin: 0 0 vc(10);
		}
	}
}
