.polyurethane {
	&__hero {
		.row {
			display: grid;
			align-items: center;
			justify-content: space-between;
			grid-template-columns: vc(788) vc(556);
			gap: vc(150);

			@include devices {
				grid-template-columns: 100%;
				gap: vc(20);
			}
		}

		&-info {
			h1 {
				@include desktop {
					font-size: vc(70);
					line-height: 1.1;
				}
			}
		}

		&-img {
			display: flex;
			flex-direction: column;
			margin-top: vc(30);
			gap: vc(60);

			@include devices {
				margin-top: vc(10);
			}
		}

		&-surfacing {
			.cta {
				margin-top: vc(30);
				margin-bottom: vc(105);

				@include devices {
					margin-top: vc(10);
					margin-bottom: vc(30);
				}
			}

			p {
				margin-bottom: vc(10);

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__category {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: vc(10);

			@include devices {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	&__cat {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		border-radius: vc(10);
		padding: vc(20);
		box-shadow: $box-shadow;
		gap: vc(20);

		p {
			font-weight: 500;
			font-size: vc(24);
			line-height: 1;

			@include devices {
				font-size: vc(10);
			}
		}

		picture {
			max-width: vc(120);

			@include devices {
				max-width: vc(50);
			}
		}

		@include devices {
			padding: vc(8);
		}
	}

	&__advantages {
		picture {
			margin: auto;
			width: vc(1140);
		}
	}

	&__assortment {
		.container {
			display: flex;
			flex-direction: column;
		}

		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			margin-top: vc(40);
			gap: vc(10);

			@include devices {
				grid-template-columns: 1fr 1fr;
			}
		}

		.h1 {
			margin: auto;
			border-bottom: 3px solid $color-tree-poppy-400;
			text-align: center;
		}
	}

	&__about {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: vc(20);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		&-text {
			.button {
				display: inline-block;
				margin-top: vc(20);
				width: 100%;
			}
		}

		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: vc(10);
			box-shadow: $box-shadow;

			svg {
				width: vc(410);
				height: vc(120);
				fill: $color-black;
			}

			@include devices {
				display: none;
			}
		}
	}

	&__cta {
		position: relative;

		.row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-radius: vc(10);
			padding: vc(30);
			color: $color-white;
			background: $color-tree-poppy-400;
			gap: vc(60);

			@include devices {
				grid-template-columns: 100%;
				padding: vc(10);
				gap: vc(10);
			}
		}

		&-text {
			.h1 {
				font-size: vc(60);
				text-align: center;

				p {
					margin: 0;
				}

				@include devices {
					font-size: vc(20);
				}
			}

			mark {
				display: inline-block;
				margin: vc(20) 0 vc(30);
				border-radius: vc(10);
				padding: vc(20);
				width: 100%;
				text-align: center;
				color: $color-tree-poppy-400;
				background: $color-white;

				@include devices {
					margin: vc(4) 0 vc(15);
					padding: vc(5);
				}
			}

			p {
				margin-bottom: vc(10);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-img {
			picture {
				height: vc(405);

				img {
					height: 100%;
				}
			}

			@include devices {
				order: -1;
				margin: vc(-10);

				picture {
					height: vc(160);
				}
			}
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: vc(20);
			width: 100%;
			height: vc(80);

			@include desktop {
				font-size: vc(30);
			}

			@include devices {
				margin-top: vc(15);
				height: auto;
			}
		}
	}

	&__achievement {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: vc(20);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		.cta {
			@include desktop {
				grid-column: 2 / 4;
			}
		}
	}

	&__col {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: vc(40);

			@include devices {
				grid-template-columns: 100%;
			}
		}

		.h1 {
			width: 100%;
			display: block;
			margin-bottom: vc(10);
		}

		.lead {
			ul {
				gap: vc(22);
			}

			li {
				font-size: vc(25);
				line-height: 1;

				@include devices {
					font-size: vc(12);
				}
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: vc(10);
	}

	&__image {
		picture {
			overflow: hidden;
			border-radius: vc(10);
			height: vc(200);

			img {
				height: 100%;
				object-position: 0 63%;
			}

			@include devices {
				height: vc(100);
			}
		}
	}
}
