.polyurethane-wheels {
	&__hero {
		.row {
			display: grid;
			align-items: center;
			justify-content: space-between;
			grid-template-columns: vc(788) vc(556);
			gap: vc(150);

			@include devices {
				grid-template-columns: 100%;
				gap: vc(20);
			}
		}

		h1 {
			@include desktop {
				font-size: vc(70);
				line-height: 1.1;
			}
		}

		&-info {
			picture {
				margin-top: vc(30);

				@include devices {
					margin-top: vc(10);
				}
			}
		}
	}

	&__category {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: vc(10);
		}
	}

	&__cat {
		display: flex;
		align-items: center;
		border-radius: vc(10);
		padding: vc(20);
		box-shadow: $box-shadow;
		gap: vc(20);

		p {
			font-weight: 500;
			font-size: vc(25);
			line-height: 1;
		}

		picture {
			max-width: vc(120);
		}
	}
}
