.vacancy {
	.row {
		display: flex;
		flex-direction: column;
		gap: vc(50);

		@include devices {
			gap: vc(30);
		}
	}

	&__info {
		p {
			font-size: vc(22);

			@include devices {
				font-size: vc(14);
			}
		}
	}

	&__buttons {
		display: flex;
		gap: vc(30);

		.button {
			width: vc(400);

			@include devices {
				width: 100%;
			}
		}

		@include devices {
			flex-direction: column;
			width: 100%;
			gap: vc(10);
		}
	}
}

.vacancy-item {
	display: flex;
	flex-direction: column;
	border-radius: vc(10);
	padding: vc(20);
	box-shadow: $box-shadow;
	gap: vc(65);

	&__head {
		display: flex;
		justify-content: space-between;

		@include devices {
			flex-direction: column;
		}
	}

	&__title {
		display: flex;
		flex-direction: column;
		gap: vc(10);

		.h1 {
			display: inline-block;
			border-bottom: vc(3) solid $color-tree-poppy-400;
		}

		p {
			font-size: vc(22);

			@include devices {
				font-size: vc(14);
			}
		}
	}

	&__logo {
		width: vc(240);
		height: vc(70);

		svg {
			fill: $color-black;
		}

		@include devices {
			order: -1;
			margin: 0 auto vc(20);
			width: vc(120);
			height: vc(35);
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;

		@include devices {
			flex-direction: column;
			gap: vc(30);
		}
	}

	@include devices {
		gap: vc(20);
	}
}

.vacancy-inner {
	&__head {
		display: grid;
		align-items: center;
		grid-template-areas:
			"title title"
			". .";
		grid-template-columns: 1fr 1fr;
		gap: vc(50);

		@include devices {
			grid-template-areas:
				"title"
				".";
			grid-template-columns: 1fr;
			margin-top: vc(20);
			gap: vc(10);
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-area: title;
		border-bottom: 3px solid $color-tree-poppy-400;

		span {
			font-size: vc(22);

			@include devices {
				font-size: vc(14);
			}
		}

		@include devices {
			margin-bottom: vc(24);

			span {
				position: absolute;
				left: 0;
				bottom: vc(-24);
			}
		}
	}

	&__body {
		margin-top: vc(80);

		@include devices {
			margin-top: vc(40);
		}
	}

	&__info {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: vc(927) vc(336);

		svg {
			width: vc(336);
			height: vc(98);
			fill: $color-black;
		}

		b {
			font-weight: 500;
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: vc(20);

			.h1 {
				margin-bottom: vc(10);
			}
		}

		@include devices {
			grid-template-columns: 100%;
		}
	}

	&__conditions {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: vc(40);
		gap: vc(86);

		@include devices {
			grid-template-columns: 100%;
			gap: vc(30);
		}
	}

	&__condition {
		.h1 {
			margin-bottom: vc(22);
		}

		blockquote {
			gap: vc(10);
		}
	}
}
